* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* header start */
/* navbar */
.nav-title {
    font-size: 45px;
    font-weight: 800;

}

header {
    width: 100%;
    height: 837px;
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;

}

.orange-span {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 249px 0 226px;
    padding: 50px 0 0 0;
}

nav div .nav-buttons {
    display: flex;
    font-size: 20px;
    align-items: center;
}

nav div .nav-buttons li {
    list-style: none;
    margin-left: 50px;
    color: #474747;

}

nav div .nav-buttons .nav-button {
    width: 150px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}

/* header content */

.about-me {
    display: flex;
    margin: 47px 70px 0 230px;
    align-items: center;

}

.about-me div h3 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}

.about-me div h1 {
    font-size: 85px;
    font-weight: 700;
    color: #181818;
}

.about-me div p {
    font-size: 16px;
    color: #757575;
    line-height: 30px;
    padding: 20px 0 30px 0;
    font-size: 20px;
}

.about-me div .download-cv {
    width: 200px;
    height: 64px;
    background: #FD6E0A;
    color: #ffffff;
    font-weight: 600px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    margin-right: 30px;
}

.about-me div .download-cv i {
    padding-right: 5px;
}

.about-me div .contact-button {
    width: 160px;
    height: 64px;
    border: 1px solid #fd6e0a;
    border-radius: 5px;
    color: #fd6e0a;
    font-size: 20px;
    font-weight: 700;
    background-color: #ffffff;
}

.about-me div .contact-button i {
    padding-right: 5px;
}

/* header end */

/* Main start  */
/* about me section */
.main-about-me {
    margin: 130px 230px;
    background: #FFF8F3;
    padding: 131px 157px;
    text-align: center;
}

.main-about-me .info-container {
    display: flex;
    justify-content: space-between;
}

.main-about-me h2 {
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}

.main-about-me .main-paragraph {
    font-size: 14px;
    color: #757575;
    padding: 30px 0;
    line-height: 25px;
}

.main-about-me .info-container p {
    color: #757575;
}

.main-about-me .info-container h3 {
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}

/* about me section end */

/* section 2 start */
.what-i-do {
    margin: 0 230px;
    text-align: center;
}

.what-i-do h2 {
    font-size: 35px;
    font-weight: 700;
}

.what-i-do .my-experience {
    margin: 30px 116px 50px 115px;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}

.what-i-do .experience-container {
    display: flex;
    gap: 24px;


}

.what-i-do .experience-container div {
    padding: 30px 33px;
    text-align: left;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}

.what-i-do .experience-container div h6 {
    padding: 30px 0 20px 0;
    font-size: 20px;
    font-weight: 700;
}

.what-i-do .experience-container div p {
    color: #757575;
}

/* section 2 end  */

/* section 3 start  */
.summary-of-my-resume {
    margin: 0 230px;
}

.summary-of-my-resume h1 {
    text-align: center;
    margin: 130px 0 113px 0;
    font-size: 35px;
    font-weight: 700;
}

.summary-of-my-resume .summary-container {
    display: flex;
    gap: 24px;
}

.summary-of-my-resume .summary-container .empty-div {
    width: 558px;
    height: 1px;
    background: #D1D1D1;
}

.summary-of-my-resume .summary-container div {
    margin-bottom: 30px;
}

.summary-of-my-resume .summary-container h2 {
    font-size: 30px;
    font-weight: 700;
    color: #474747;
}

.summary-of-my-resume .summary-container h3 {
    font-size: 25px;
    font-weight: 700;
    color: #474747;
    padding-bottom: 10px;
}

.summary-of-my-resume .summary-container h6 {
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    padding-bottom: 20px;
}

.summary-of-my-resume .summary-container p {
    padding-right: 47px;
    color: #757575;
    line-height: 28px;
}

.summary-of-my-resume .button .download-cv {
    margin: 50px 0 113px 470px;
    width: 200px;
    height: 64px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    background: #FD6E0A;
    text-align: center;
}

.summary-of-my-resume .button .download-cv i {
    padding: 5px;
}

/* section 3 end  */

/* footer start */
footer {
    background: #FFF8F3;
    padding: 130px 230px;
}

footer .footer-container {
    display: flex;
    justify-content: space-between;
}

footer .footer-container .lets-connect p {
    color: #474747;
    padding-right: 117px;
    padding-bottom: 30px;
}

footer .footer-container .lets-connect img {
    padding-right: 24px;
}

footer .footer-container h1 {
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 28px;
}

footer .footer-container .lets-msg-me input,
textarea {
    margin-bottom: 24px;
}

footer .footer-container .lets-msg-me .name-mail {
    width: 461px;
    height: 64px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    padding-left: 30px;

}

footer .footer-container .lets-msg-me .messages {
    width: 461px;
    height: 180px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    padding-left: 30px;
}

footer .footer-container .lets-msg-me button {
    width: 150px;
    height: 64px;
    border: none;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}
/* footer end  */